<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header(content='about')"></div>
    
    <div class="jumbotron">
    <h1 class="display-4">About Me</h1>
    <p class="lead">About Me</p>
    <hr class="my-4">

    <div class="media">
    <img src="src/main/resources/static/img/Killua.PNG" th:src="@{img/Killua.PNG}"
    class="mr-3" alt="PFP"/>

    <div class="media-body">
        <h5 class="mt-0">Ethan</h5>
        Hi! I'm a Computer Science student at Columbus State Univerity.
    </div>
    </div>
    </div>
    
    <div>
    <p>Here are a list of my favorite nonprofits.</p>
    </div>
    <div class="list-group">
    <a href="https://www.redcross.org/" class="list-group-item list-group-item-action">American Red Cross</a>
    <a href="https://www.heart.org/" class="list-group-item list-group-item-action">American Heart Association</a>
    <a href="https://www.unitedway.org/" class="list-group-item list-group-item-action">United Way</a>
    </div>
    <div class="NonProfitInfo">
    <p>The American Red Cross is one of the largest nonprofit entities that provides disaster relief and military support. Their blood bank saves thousands of lives every year. The organization provides food, water, and shelter for people affected by fires and natural disasters. The American Red Cross helps military families cope with deployment. This includes delivering emergency communications and providing financial assistance when needed. Many veterans depend on the American Red Cross for emergency needs such as food and shelter as well as counseling referrals. The American Red Cross can also help veterans apply for benefits.</p>
    <p>The mission of the American Heart Association is to prevent heart disease and strokes. The organization’s nonprofit status generates revenue that can be used for education and medical research. The American Heart Association educates the general public about the importance of healthy eating and physical fitness, which can greatly reduce the risk of heart disease. The organization provides CPR training to equip people with the knowledge and skills needed to save someone in cardiac arrest. According to http://professional.heart.org, the American Heart Association has invested more than $4 billion dollars in medical research since 1949. The organization relies on donors and volunteers to continue their mission of fighting heart disease and strokes.</p>
    <p>According to Forbes, United Way raised $3.71 billion dollars in 2015. United Way provides people with the resources they need to lead productive lives. This nonprofit company receives most of its money from workplace paycheck deductions. The organization provides tools and materials to help children receive professional education. Many families depend on the United Way for career training, job-search assistance, and credit counseling. The company provides a variety of health services including nutrition education, physical fitness programs, and professional medical care. This charity also helps human trafficking victims by offering them protection and a safe place to live.</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>