/* Greeting */
#nasaApod{
    background-repeat: none;
    height: 200px;
}

/* About */
.NonProfitInfo{
    margin: 20px;
}
#list-title{
    margin: 20px;
}

/* Contact */
.jumbotron #ajaxResponse{
    color: crimson;
    padding-bottom: 5px;
}

/* Blog */
body > #ajaxResponse{
    margin: 20px;
    color: crimson;
}
